body {
    font-family: 'Raleway', sans-serif;
    color: #555555;
}

.container-md {
    max-width: 980px !important;
    width: 90% !important;
}

.fontsize-14 {
    font-size: 0.875rem;
}

.fontsize-16 {
    font-size: 1rem;
}

.fontsize-20 {
    font-size: 1.25rem;
}

.fontsize-22 {
    font-size: 1.375rem;
}

.fontsize-25 {
    font-size: 1.5625rem;
}

.fontsize-30 {
    font-size: 1.875rem;
}

.fontsize-34 {
    font-size: 2.125rem;
}

.fontsize-40 {
    font-size: 2.5rem;
}

.fontsize-54 {
    font-size: 3.375rem;
}

.color1 {
    color: #22AE6D;
}

.color2 {
    color: #555555;
}

.color3 {
    color: #2B2B2B;
}

.color4 {
    color: #FFFFFF;
}

.color5 {
    color: #FF4040;
}

.bolder {
    font-weight: 800 !important;
}

.header_slogan p {
    letter-spacing: 0.03em;
}

.header {
    border-bottom: 1px solid #555555;
}

.fun-first-image1 {
    width: 3.5rem;
}

.fun-first-image2 {
    width: 9rem;
    margin-top: 0.7rem;
}

.slider_item {
    border-radius: 5px;
}

.book_showlist {
    padding-top: 64px;
}

.rating_star {
    padding-right: 30px;
}

.rating_link {
    padding-left: 30px !important;
}

.rating_link a {
    color: #2B2B2B !important;
}

.amazon_reviews {
    padding-top: 30px;
}

.amazon_reviews_lists {
    margin-left: 12.5px;
    margin-right: 20px;

}
.amazon_reviews_lists ul {
    line-height: 1.5;
}

.amazon_reviews_lists li, .real-rating {
    letter-spacing: 0.004rem;
}

.awards_image_1 {
    max-height: 152px;
}

.quotes {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.open_quote_icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.close_quote_icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.free_printables, .reviews_award {
    background-color: #E6DECA;
}

.content_title {
    padding-left: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
}

.content-description {
    font-weight: bold;
    margin-bottom: 25px;
}

.more_infor_btn {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    border: 4px solid white;
    background: none;
}

.for_retailer {
    background-color: #22AE6D;
    padding: 25px;
    font-weight: bold;
}
.for_retailer_title_image {
    max-width: 200px;
}

.mail_subcribe_content {
    background-color: #22AE6D;
    border: 2px solid #22AE6D;
    padding-top: 15px;
}

.mail_subcribe_content p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

form {
    background-color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.input-group span, .input-group input, .mask button {
    border: none;
    background: none;
}

.input-group input {
    width: 345px !important;
}

.d-grid button {
    background-color: #22AE6D;
    margin-top: 25px;
    border-radius: 0;
    margin-bottom: 5px;
}

.input-group {
    border-bottom: 1px solid black;
}

.footer {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

.bold {
    font-weight: 700 !important;
}

.youtubemb iframe {
    width: 100%;
    height: 470px;
}

.youtube {
    padding-top: 10px;
}

.for_retailer_contact a {
    color: white;
}

.mask {
    display: none;
    width: 100%;
    height: 290px;
    background-color: rgba(154,210,210,0.8);
}

.new_title_book_lists_item:hover .mask {
    display: block;
}

.slider-arrow {
    margin: auto;
    color: white;
    text-shadow: 1px 1px 8px #4e4e4e;
}

@media (min-width: 992px) {
    .free_printables .p-5 {
        padding: 60px !important;
    }
    
    .reviews_award .p-5 {
        padding-top: 60px !important;
    }
    
    .award_title {
        position: relative;
        top: 25px;
        right: 50px;
    }
    
    .award_1 {
        position: relative;
        right: 50px;
    }
    
    .award_2 {
        position: relative;
        right: 37px;
    }
    
    .quotes, .youtube {
        position: relative;
        top: 25px;
    }

    .header_logo .nav-link img {
        width: 120px;
        height: 24px;
    }

    .fun-first-image1 {
        width: 74px;
        height: 69px;
    }

}

@media (max-width: 991px) {
    body {
        position: absolute !important;
    }

    html {
        font-size: 30px;
    }
    
    .header_logo .nav-link img {
        width: 8rem;
    }
    
    header {
        line-height: 3.5rem;
    }

    .social_media img {
        width: 2.1rem;
    }

    .slider_item img {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .slider_item img {
        width: 70%;
    }
}

